.top {
  display: grid;
  grid-template-columns: 70px 100px 30px;
}

.error {
  color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
