.modal {
  position:fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  width: 250px;
  background-color: white;
  border: 2px solid rgba(255, 255, 255, .9);
  box-shadow: #0000001a 0 0 0 1px,#0000001a 0 4px 11px;
}

.modal_header, .modal_footer {
  padding: 10px;
}

.modal_title {
  margin: 0;
}

.modal_body {
  padding: 10px;
  border-top: 1px solid grey;
}

.close_button {
  position: relative;
  left: 175px;
}

.aspect {
  padding-top: 10px;
  justify-content: left;
}
