.modal {
  z-index: 1000;
  display: block;
  position: fixed;
  left: 45%;
  width: min-content;
}

.modal_content {
  background-color: white;
  border: 2px solid rgba(255, 255, 255, 0.9);
  box-shadow: #0000001a 0 0 0 1px, #0000001a 0 4px 11px;
  display: grid;
}

.modal_header,
.modal_footer {
  position: relative;
  padding: 10px;
}

.modal_title {
  margin: 0;
}

.modal_body {
  position: relative;
  padding: 10px;
  border-top: 1px solid grey;
}

.close_button {
  position: absolute;
  top: 1ex;
  right: 1ex;
}

.aspect {
  padding-top: 10px;
  justify-content: left;
  position: relative;
}

.btn {
  justify-content: center;
  padding: 0 0.5rem;
  background-color: var(--h5w-toolbar--bgColor, aliceblue);
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: -1px -1px 2px inset var(--h5w-btnRaised--shadowColor, gray);
}

.btn:hover {
  background-color: var(--h5w-btn-hover--bgColor, whitesmoke);
}
