before_after==1.0.1
compress-pickle==2.1.0
fastapi==0.141.1
httpx2==2.13.0
lz4==4.4.5
mock==1.0.1
msgpack==1.2.1
numpy==2.4.6
orjson==3.12.0
pillow==12.3.0
pydantic==2.12.5
pydantic-numpy==9.0.2
pytest==9.1.1
pytest-asyncio==1.4.0
requests==2.34.2
ruamel.yaml==0.18.0
semver==3.0.4
starlette==1.6.0
uvicorn==0.53.0
websockets==17.1
