before-after==1.0.1
compress-pickle==2.1.0
fastapi==0.111.0
httpx==0.27.0
lz4==4.3.3
mock==1.0.1
msgpack==1.0.8
numpy==1.26.4
orjson==3.10.3
pillow==10.3.0
pydantic_numpy==5.0.2
pytest==8.2.0
pytest-asyncio==0.23.6
requests==2.31.0
ruamel.yaml==0.18.6
semver==3.0.2
starlette==0.37.2
uvicorn==0.29.0
websockets==12.0
